In [13]:

import sys
import pandas as pd
import altair as alt
import streamlit as st
import time



title = 117


#Type = st.selectbox(
#        "Choose Snack Type",["Diet", "Keto","Meats","Vegetarian","Vegan"])

Type = "Diet"

#if st.button('Login'):
data = pd.read_csv(Type+".csv")
df1 =  data['UserId']==2
df1 
data[df1]

    Unnamed: 0  UserId       MovieId    Rating
6         7006       2  7.212760e+11 -3.118171
7         7007       2  6.498720e+11 -3.139004
8         7008       2  9.720180e+11 -3.261575
9         7009       2  1.066964e+10 -3.199107
10        7010       2  3.621910e+11 -3.218641
11        7011       2  3.944750e+11 -3.177985